<div class="content">
  <div class="information">
    <h2>Contact Us</h2>
    <h3>Anytime</h3>
    <p>
      Get in Touch We'd love to hear from you! If you have any questions or
      special requests, please don't hesitate to reach out. Our team is always
      available to assist you and ensure your mezcal tasting experience is truly
      unforgettable.
    </p>

    <a href="tel:+420773620248">(+420) 773 620 248</a>
    <a href="mailto:diego@mezcaleria.cz">diego@mezcaleria.cz</a>

    <span>[Social Media Links]</span>
  </div>
  <div class="gallery">
    <img
      src="../../../assets/mexcaleria-5-20-099.png"
      alt="Dancers, Mezcaleria"
    />
  </div>
</div>
