@import '../../../../libs/shared-styles/src/lib/mixins';
@import '../../../../libs/shared-styles/src/lib/breakpoints';

mezcal-mystique-layout {
    color: #57686A;
}

mezcal-mystique-footer {
    display: block;
    color: #B3C6B9;
    background-color: #57686A;
}