<div class="content">
  <div class="information">
    <h2>Welcome to the Enchanting World of Mezcal Tastings.</h2>
    <h3>Discover the Magic of Mexico´s Ancient Spirit</h3>
    <p>
      Welcome to Mezcal Tasting Prague, the ultimate destination for an
      unforgettable mezcal tasting experience. Our passion for this ancient,
      mystical spirit has led us to curate a unique collection of artisanal
      mezcals, each one an embodiment of the rich heritage and skilled
      craftsmanship of Mexico's finest distilleries. Join us as we embark on a
      sensory journey, delving into the fascinating stories, intricate flavors,
      and unparalleled quality of this extraordinary spirit. Allow your palate
      to be captivated by the smoky, earthy, and fruity notes of our handpicked
      selections, and let us guide you through the intoxicating world of mezcal.
    </p>
    <h3>Book a tasting</h3>
    <p>
      Embark on Your Mezcal Adventure Today Ready to explore the enchanting
      world of mezcal? Reserve your spot at one of our upcoming tastings and let
      us guide you through this extraordinary sensory journey. Simply choose
      your preferred tasting experience, select a date and time, and leave the
      rest to us. We can't wait to share our passion for mezcal with you!
    </p>
    <div class="actions">
      <button
        mat-button
        [routerLink]="['/our-tastings']"
        routerLinkActive="router-link-active"
      >
        Our Tastings
      </button>
      <button
        mat-button
        [routerLink]="['/contact-us']"
        routerLinkActive="router-link-active"
      >
        Contact Us
      </button>
    </div>
  </div>
  <div class="gallery">
    <img
      src="../../../assets/mexcaleria-5-20-040.png"
      alt="Tasting in Mezcaleria"
    />
    <img
      src="../../../assets/mexcaleria-5-20-041.png"
      alt="Tasting in Mezcaleria"
    />
  </div>
</div>
