<div class="content">
  <div class="information">
    <h2>Our Tastings</h2>
    <h3>Unravel the Mysteries of Mezcal</h3>
    <p>
      We offer a range of meticulously curated mezcal tastings designed to
      educate, inspire, and delight. Whether you're a seasoned mezcal aficionado
      or a curious newcomer, our tastings cater to all levels of expertise.
    </p>
    <p>
      Mezcal Tasting - A beginner's guide to the world of mezcal, exploring the
      basics of production, history, and tasting techniques. Sample a carefully
      selected range of mezcals to experience the diverse flavor profiles of
      this captivating spirit.
    </p>
    <p>
      Dive deeper into the world of mezcal with our experts. Explore the unique
      characteristics of various agave species, regional variations, and
      production techniques, while savoring some of the finest artisanal
      mezcals.
    </p>
    <p>
      Mezcal & Food Pairing - Discover the exquisite harmony between mezcal and
      food with our expertly curated pairing experience. Delight your senses
      with a tantalizing fusion of traditional Mexican cuisine and exceptional
      mezcals.
    </p>
    <p>
      Customizable Tasting Experience - Create a bespoke mezcal tasting event
      tailored to your preferences and requirements. Perfect for special
      occasions, corporate events, weddings, birthdays party or an intimate
      gathering with friends.
    </p>
  </div>
  <div class="gallery">
    <img
      src="../../../assets/mexcaleria-5-20-054.png"
      alt="Cocktails in Mezcaleria"
    />
    <img
      src="../../../assets/mexcaleria-5-20-036.png"
      alt="Tasting with Orange"
    />
    <img
      src="../../../assets/mexcaleria-5-20-042.png"
      alt="Bottle of Quiéreme Mucho Mezcal"
    />
    <img src="../../../assets/mexcaleria-5-20-079.png" alt="Bar Mezcaleria" />
  </div>
</div>
