<div class="content">
  <div class="information">
    <h2>About Us</h2>
    <h3>Our Story - A Celebration of Mexican Tradition</h3>
    <p>
      Our mission is to share the captivating essence of mezcal with the world.
      We are a team of dedicated mezcal enthusiasts who have traveled the length
      and breadth of Mexico, sourcing the finest spirits from small-batch
      producers and traditional family distilleries. Our mezcal tastings are
      designed to immerse you in the rich history, cultural significance, and
      complex flavors of this ancient spirit. We believe that every sip tells a
      story, and we are committed to providing you with an unparalleled
      experience that will ignite your passion for mezcal.
    </p>
  </div>
  <div class="gallery">
    <img
      src="../../../assets/mexcaleria-5-20-044.png"
      alt="Shots in Mezcaleria"
    />
    <img
      src="../../../assets/mexcaleria-5-20-100.png"
      alt="Dancers in Mezcaleria"
    />
  </div>
</div>
